In [69]:
from sklearn.feature_extraction.text import TfidfVectorizer
import glob
from pathlib import Path
import pandas as pd

In [70]:
directory_path = "./"
text_files = glob.glob(f"{directory_path}/*.txt")
print(text_files)
text_titles = [Path(text).stem for text in text_files]
print(text_titles)

['./story.txt', './thirdStory.txt', './otherStory.txt']
['story', 'thirdStory', 'otherStory']

In [71]:
# example file: A quick brown fox jumps over the lazy dog.
# What is tf-idf?

# tf -> 
print(text_titles)
# what does this do? What is this vectorizer object being created has?
tfidf_vectorizer = TfidfVectorizer(input='filename', stop_words="english")
print("vectorizer is: ", tfidf_vectorizer)

# What does this tfidf_vector contain? Signify?
# Does this change the vectorizer as well?
tfidf_vector = tfidf_vectorizer.fit_transform(text_files)
print("vector is: ", (tfidf_vector.shape))
print("vector: ", tfidf_vector)

['story', 'thirdStory', 'otherStory']
vectorizer is:  TfidfVectorizer(input='filename', stop_words='english')
vector is:  (3, 13)
vector:    (np.int32(0), np.int32(2))	0.25537359879528915
  (np.int32(0), np.int32(11))	0.43238508878969045
  (np.int32(0), np.int32(7))	0.43238508878969045
  (np.int32(0), np.int32(8))	0.43238508878969045
  (np.int32(0), np.int32(9))	0.43238508878969045
  (np.int32(0), np.int32(1))	0.43238508878969045
  (np.int32(1), np.int32(2))	0.3853716274664007
  (np.int32(1), np.int32(6))	0.652490884512534
  (np.int32(1), np.int32(5))	0.652490884512534
  (np.int32(2), np.int32(2))	0.25537359879528915
  (np.int32(2), np.int32(4))	0.43238508878969045
  (np.int32(2), np.int32(3))	0.43238508878969045
  (np.int32(2), np.int32(0))	0.43238508878969045
  (np.int32(2), np.int32(10))	0.43238508878969045
  (np.int32(2), np.int32(12))	0.43238508878969045

In [ ]:
# A quick brown fox jumps over the lazy dog.
len(tfidf_vector.toarray()[0])
# total 20 words were recognised

words = tfidf_vectorizer.get_feature_names_out()
print(tfidf_vectorizer.idf_)
print(words)

[1.69314718 1.69314718 1.         1.69314718 1.69314718 1.69314718
 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718
 1.69314718]
['ai' 'america' 'document' 'learning' 'machine' 'plants' 'pollination'
 'rally' 'speech' 'transform' 'transforming' 'trumps' 'world']
(4, 13)

In [83]:
tfidf_df = pd.DataFrame(tfidf_vector.toarray(), index=text_titles, columns=tfidf_vectorizer.get_feature_names_out())
tfidf_df

,ai,america,document,learning,machine,plants,pollination,rally,speech,transform,transforming,trumps,world
story,0.000000,0.432385,0.255374,0.000000,0.000000,0.000000,0.000000,0.432385,0.432385,0.432385,0.000000,0.432385,0.000000
thirdStory,0.000000,0.000000,0.385372,0.000000,0.000000,0.652491,0.652491,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
otherStory,0.432385,0.000000,0.255374,0.432385,0.432385,0.000000,0.000000,0.000000,0.000000,0.000000,0.432385,0.000000,0.432385

In [84]:
tfidf_vectorizer.get_feature_names_out()

array(['ai', 'america', 'document', 'learning', 'machine', 'plants',
       'pollination', 'rally', 'speech', 'transform', 'transforming',
       'trumps', 'world'], dtype=object)

In [85]:
pd.DataFrame(tfidf_vector.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

,ai,america,document,learning,machine,plants,pollination,rally,speech,transform,transforming,trumps,world
0,0.000000,0.432385,0.255374,0.000000,0.000000,0.000000,0.000000,0.432385,0.432385,0.432385,0.000000,0.432385,0.000000
1,0.000000,0.000000,0.385372,0.000000,0.000000,0.652491,0.652491,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.432385,0.000000,0.255374,0.432385,0.432385,0.000000,0.000000,0.000000,0.000000,0.000000,0.432385,0.000000,0.432385

In [86]:
query_path = "./query/query.txt"
query_vector = tfidf_vectorizer.transform([query_path])

query_df = pd.DataFrame(query_vector.toarray(), columns=tfidf_vectorizer.get_feature_names_out())
print(query_vector.toarray())
print(tfidf_vectorizer.get_feature_names_out())

[[0.         0.         0.50854232 0.         0.         0.
  0.861037   0.         0.         0.         0.         0.
  0.        ]]
['ai' 'america' 'document' 'learning' 'machine' 'plants' 'pollination'
 'rally' 'speech' 'transform' 'transforming' 'trumps' 'world']

In [87]:
print(query_df)
print(text_files)

    ai  america  document  learning  machine  plants  pollination  rally  \
0  0.0      0.0  0.508542       0.0      0.0     0.0     0.861037    0.0

   speech  transform  transforming  trumps  world
0     0.0        0.0           0.0     0.0    0.0
['./story.txt', './thirdStory.txt', './otherStory.txt']

In [88]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarities = cosine_similarity(query_df, tfidf_df)
print(text_files[cosine_similarities.argmax()])

./thirdStory.txt

In [89]:
print(cosine_similarities)

[[0.12986828 0.75779657 0.12986828]]

In [90]:
print(tfidf_df.shape)

(3, 13)