In [41]:
"""
Programming exercise 2: Pandas Data frames
Here you can find practical task for tutorial session 2. 

Please note, that the feedback and discussion on this are only are happening at tutorials. 

Creating Data Frame
You are given a fragment of Data about medals from the Olympics
 
 
Country:    Gold    Silver  Bronze
NOR         16      8       13
GER         12      10      5
CHN         9       4       2
 

1. Create a pandas Data frame from this data
2. Select the first and third rows and the first and third columns
3. Return a data frame that contains just the CHN row
4. Return a data frame that contains the medals of Norway and Germany.
5. *Select countries who won ten or more gold medals and return the Country and Gold columns*
6. Sort the medals by bronze (descending)
"""
import pandas as pd
data = {"Country": ["NOR", "GER", "CHN"], "Gold": [16, 12, 9], "Silver": [8, 10, 4], "Bronze": [13, 5, 2]}
medals = pd.DataFrame(data)
# print(data)
# print(medals)
obj = medals.iloc[[0,2],[0,2]]
print(obj)
print(medals["Country"]=="CHN")
print(medals[medals["Country"]=="CHN"])
print(medals[medals["Country"].isin(["GER", "NOR"])])
medals[medals["Gold"]>10][["Country","Gold"]]
sorted_by_bronze = medals.sort_values(by="Bronze", ascending=False)
sorted_by_bronze

  Country  Silver
0     NOR       8
2     CHN       4
0    False
1    False
2     True
Name: Country, dtype: bool
  Country  Gold  Silver  Bronze
2     CHN     9       4       2
  Country  Gold  Silver  Bronze
0     NOR    16       8      13
1     GER    12      10       5

  Country  Gold  Silver  Bronze
0     NOR    16       8      13
1     GER    12      10       5
2     CHN     9       4       2

In [57]:
"""
Read Data Frame
1. Read DataFrame from Beijing2022.csv
2. Compute the total number of medals won for each country and add this as a fifth column to beijing2022Medals
3. Order the rows by the total number of medals won
4. Sort the data first by the number of total medals won (in descending order) and then by the number of gold medals won (also in descending order)
5. Calculate the total number of gold, silver and bronze medals won at Beijing 2022
6. Work out the overall number of medals won by all countries in the Olympic Games
in 2022?
"""

df = pd.read_csv("Beijing1.csv", delimiter=";")
# df.isnull().sum()
# sum of each column -> gold silver bronze -> add to new column -> Total Medals
df["Total Medals"] = df["Gold"] + df["Silver"] + df["Bronze"]
df.head(5)
df_sorted_by_total_medals = df.sort_values(by="Total Medals", ascending=False)
df_sorted_by_gold = df.sort_values(by="Gold", ascending=False)
df_sorted_by_total_medals.head(5)
df_sorted_by_gold.head(5)
print(df["Total Medals"].sum())
print(df[["Country", "Total Medals"]])

327
           Country  Total Medals
0           Norway            37
1          Germany            27
2            China            15
3    United States            25
4           Sweden            18
5      Netherlands            17
6          Austria            18
7      Switzerland            14
8              ROC            32
9           France            14
10          Canada            26
11           Japan            18
12           Italy            17
13     South Korea             9
14        Slovenia             7
15         Finland             8
16     New Zealand             3
17       Australia             4
18   Great Britain             2
19         Hungary             3
20         Belgium             2
21  Czech Republic             2
22        Slovakia             2
23         Belarus             2
24           Spain             1
25         Ukraine             1
26         Estonia             1
27          Latvia             1
28          Poland             1